---
import Layout from "../../layouts/Layout.astro";
import BlogList from "src/components/blocks/BlogList.astro";
---

<Layout title="Keystatic & Astro's Content Collections">
  <section class="content-container px-5 pt-16 lg:px-16 lg:pt-28">
    <p class="mb-3 lg:mb-4 font-semibold">Blog</p>
    <h1 class="mb-5 lg:mb-6">Fancy Blog Title</h1>
    <p>quick little subtext</p>
  </section>
  <BlogList />
</Layout>
