---
import type { HTMLAttributes } from "astro/types";

interface Props extends HTMLAttributes<"section"> {
  // fullWidth?: boolean;
}

const props: Props = Astro.props;
---

<section class:list={["px-5 py-16 lg:px-16 lg:py-28", props.class]}>
  <slot />
</section>
