/* 
    class-based selectors which define undecorated design patterns, 
    for example the media object known from OOCSS 
*/

.content-container {
  max-width: 1440px;
  margin: 0 auto;
}

.blog-container {
  p {
    max-width: 35em;
    margin: 1rem auto;
  }
}
