---
import Banner from "./Banner.astro";

import { getEntry } from "astro:content";

type Discriminant = "page" | "url";
type PageLink = {
  link: string;
  label: string;
};
interface NavigationLink {
  discriminant: Discriminant;
  value: PageLink;
}

const navigationLinks: NavigationLink[] = await getEntry(
  "site-settings",
  "navigation"
).then((entry) => entry.data.navigationLinks);

const ctaLinks: NavigationLink[] = await getEntry(
  "site-settings",
  "navigation"
).then((entry) => entry.data.ctaLinks);
---

<header>
  <Banner />
  <nav>
    <ul>
      {
        navigationLinks.map((link) => {
          return (
            <li>
              <a href={link.value.link}>
                {link.value.label ? link.value.label : link.value.link}
              </a>
            </li>
          );
        })
      }
    </ul>
    <!-- cta -->
    <ul>
      {
        ctaLinks.map((link) => {
          return (
            <li>
              <a href={link.value.link}>
                {link.value.label ? link.value.label : link.value.link}
              </a>
            </li>
          );
        })
      }
    </ul>
  </nav>
</header>
