---
import { Image } from "astro:assets";
import Banner from "./Banner.astro";
import Button from "../elements/Button.astro";

import { getEntry } from "astro:content";

type Discriminant = "page" | "url";
type PageLink = {
  link: string;
  label: string;
};
interface NavigationLink {
  discriminant: Discriminant;
  value: PageLink;
}

const navigationLinks: NavigationLink[] = await getEntry(
  "site-settings",
  "navigation"
).then((entry) => entry.data.navigationLinks);

const ctaLinks: NavigationLink[] = await getEntry(
  "site-settings",
  "navigation"
).then((entry) => entry.data.ctaLinks);

const logo: any = await getEntry("site-settings", "site-details").then(
  (entry) => entry.data.logo
);

console.log("logo", logo);
---

<header>
  <Banner />
  <div class="content-container px-16 py-4">
    <nav>
      <ul class="flex items-baseline gap-8">
        <!-- logo -->
        <li class="mr-auto">
          <a href="/">
            <Image
              src={`/images/logo/${logo}`}
              height={40}
              width={132}
              alt="Logo for lsl"
            />
          </a>
        </li>
        {
          navigationLinks.map((link) => {
            return (
              <li>
                <a href={link.value.link}>
                  {link.value.label ? link.value.label : link.value.link}
                </a>
              </li>
            );
          })
        }
        <!-- cta -->
        {
          ctaLinks.map((link, index) => {
            return (
              <li>
                <Button
                  buttonType="link"
                  href={link.value.link}
                  variant={index === 0 ? "outline" : "primary"}
                >
                  {link.value.label ? link.value.label : link.value.link}
                </Button>
              </li>
            );
          })
        }
      </ul>
    </nav>
  </div>
</header>
<button popovertarget="mobile-menu">
  <span></span>
  <span></span>
  <span></span>
  <span class="sr-only">menu</span>
</button>
<nav popover id="mobile-menu" class="mobile-menu">Greetings, one and all!</nav>

<style>
  button {
    display: flex;
    flex-direction: column;
    gap: 2px;
    align-items: center;
    cursor: pointer;
    span {
      height: 3px;
      width: 24px;
      border-radius: 2px;
      background-color: var(--color-neutral-darkest);
    }
  }

  .mobile-menu {
    display: none;
    opacity: 0;
    transition: all 2s ease-in;
    transition-behavior: allow-discrete;

    &:popover-open {
      display: block;
      opacity: 1;

      @starting-style {
        opacity: 0;
      }
    }
  }
</style>
