---
import PageSection from "../objects/PageSection.astro";

const { value } = Astro.props;

const { title, description } = value;
---

<PageSection class="page-header content-container">
  <h1 class="mb-6 max-w-[768px]">{title}</h1>
  <p class="max-w-[768px] text-medium">{description}</p>
</PageSection>
