---
import Button from "src/components/elements/Button.astro";
import PageSection from "src/components/objects/PageSection.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="whoopsies">
  <PageSection class="content-container">
    <h1>Something gone done messed up.</h1>
    <Button buttonType="link" href={"/"} variant="primary">Home</Button>
  </PageSection>
</Layout>
