@theme {
  --color-white: #ffffff;
  --color-neutral-lightest: #eeeeee;
  --color-neutral-lighter: #cccccc;
  --color-neutral-light: #aaaaaa;
  --color-neutral: #666666;
  --color-neutral-dark: #444444;
  --color-neutral-darker: #222222;
  --color-neutral-darkest: #000000;
}
