/* 
    Reset and/or normalize styles, box-sizing 
    definition, etc. This is the first layer 
    which generates actual CSS. 
*/

@layer base {
  html {
    background-color: var(--color-background);
    color: var(--color-text);
  }
  button {
    cursor: pointer;
  }
}
